<div class="container-sm">
<div class="card background-color card-landing">
  <div class="card-header">
    <h5 class="card-title">О проекте.</h5>
    <p class="card-text">Живем припеваючи.</p>
  </div>
</div>
</div>


<div class="container-md">
  <div class="card background-color card-landing">
  <div class="card-header">
    <h5 class="card-title">О проекте.</h5>
    <p class="card-text">Живем припеваючи.</p>
  </div>
</div></div>
<div class="container-lg">
  <div class="card background-color card-landing">
  <div class="card-header">
    <h5 class="card-title">О проекте.</h5>
    <p class="card-text">Живем припеваючи.</p>
  </div>
</div></div>
<div class="container-xl">
  <div class="card background-color card-landing">
  <div class="card-header">
    <h5 class="card-title">О проекте.</h5>
    <p class="card-text">Живем припеваючи.</p>
  </div>
</div></div>
<div class="container-xxl">
  <div class="card background-color card-landing">
  <div class="card-header">
    <h5 class="card-title">О проекте.</h5>
    <p class="card-text">Живем припеваючи.</p>
  </div>
</div></div>